<html>
    <head>
        <title>Server</title>
        <script src="jquery-3.3.1.min.js" ></script>
        <script src="socket.io/socket.io.js"></script>

        <script>
        
        var socket = io('https://mforex.cf/'); 

            socket.on("reg_status",(data)=>{
                alert(data);
                socket.emit("laydanhsachuser");
            });

            socket.on("danhsachroom",(data)=>{
                $(".danhsachmaster").html('');
                $.each(data,(i,v)=>{
                    $(".danhsachmaster").append("<div class='item'><div class='info'>ID Master: <div class='idmaster'>"+v.userID+"</div>Tên master: <div class='tenmaster'>"+v.fullName+"</div>Tên Group: <div class='gourpname'>"+v.groupName+"</div></div><div class='delete' onclick='deteleUser("+v.userID+")'>Xóa</div</div>");
                })
            });



            function deteleUser(data){
                if(confirm("Bạn muốn xóa master: "+data+" ?")){
                    socket.emit("deleteMaster",data);
                }
            }

        $(document).ready(()=>{
            socket.emit("laydanhsachroom");

            $("#submit").click(()=>{
                if($("#accountid").val() === ""){
                    alert("Hãy nhập Account ID trước");
                    return;
                }else if($("#name").val() === ""){
                    alert("Hãy nhập tên của Master");
                    return;
                }else if($("#groupname").val() === ""){
                    alert("Hãy nhập tên của nhóm này");
                    return;
                }else{
                    socket.emit("reg_group",{accountID:$("#accountid").val(),name:$("#name").val(),groupname:$("#groupname").val()});
                }
                
            })
        })
        
        </script>

        <style>
              .info {
                float: left;
            }

            .delete:hover {
                background-color: #1a60e0;
            }

            input {
                padding: 8px;
                border-radius: 8px;
                /* border: none; */
                border: 1px solid #b7b7b7;
            }

            .delete {
                float: right;
                position: absolute;
                right: 17px;
                line-height: 29px;
                /* width: 50px; */
                /* height: 30px; */
                background-color: #0943ad;
                color: #fff;
                padding: 4px 25px;
                margin-top: 20px;
                cursor: pointer;
                border-radius: 7px;
            }
            .item {
                border: 1px solid #e0e0e0;
                padding: 8px 17px;
                margin-bottom: 9px;
                height: 120px;
            }

            .gourpname {
                color: #075eab;
                padding-left: 40px;
                /* color: red; */
                font-size: 15px;
                font-weight: 400;
            }

            .idmaster {
                font-size: 23px;
                font-weight: 800;
                color: #017951;
                padding-left: 40px;
            }
            .tenmaster {
                padding-left: 40px;
                color: red;
                font-size: 15px;
                font-weight: 400;
            }
        </style>
    </head>
    <body>
        <div>
            <h3>Thêm Master</h3>
            <input type="text" placeholder="Account ID" id="accountid"/>
            <input type="text" placeholder="Name" id="name"/>
            <input type="text" placeholder="Group Name" id="groupname"/>
            <button type="button" id="submit" value="Đăng ký">Đăng ký</button>
        </div>
        <div>
            <h3>Danh sách Master đã đăng ký</h3>
            <div class="danhsachmaster">

            </div>
        </div>
    </body>
</html>