<html>
    <head>
        <title>Server</title>
        <script src="jquery-3.3.1.min.js" ></script>
        <script src="socket.io/socket.io.js"></script>

        <script>
        
        var socket = io('http://35.240.192.57');

            socket.on("reg_status",(data)=>{
                alert(data);
            });

            socket.on("danhsachroom",(data)=>{
                $(".danhsachmaster").html('');
                $.each(data,(i,v)=>{
                    $(".danhsachmaster").append("<div>");
                    $(".danhsachmaster").append("<div class='idmaster'>"+v.userID+"</div>");
                    $(".danhsachmaster").append("<div class='tenmaster'>"+v.fullName+"</div>");
                    $(".danhsachmaster").append("</div>");
                })
            });

        $(document).ready(()=>{
            socket.emit("laydanhsachuser");

            $("#submit").click(()=>{
                if($("#accountid").val() === ""){
                    alert("Hãy nhập Account ID trước");
                    return;
                }else if($("#name").val() === ""){
                    alert("Hãy nhập tên của Master");
                    return;
                }else 
                {
                    socket.emit("reg_user",{accountID:$("#accountid").val(),name:$("#name").val()});
                }
                
            })
        })
        
        </script>

        <style>
            .idmaster {
                font-size: 23px;
                font-weight: 800;
                color: #017951;
            }
            .tenmaster {
                padding-left: 20px;
                color: red;
                font-size: 15px;
                font-weight: 400;
            }
           
        </style>
    </head>
    <body>
        <div>
            <h3>Thêm User</h3>
            <input type="text" placeholder="Account ID" id="accountid"/>
            <input type="text" placeholder="Name" id="name"/>
            <button type="button" id="submit" value="Đăng ký">Đăng ký</button>
        </div>
        <div>
            <h3>Danh sách User đã đăng ký</h3>
            <div class="danhsachmaster">

            </div>
        </div>
    </body>
</html>