<html>
<head>
    <title>Forex Tool</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <script src="jquery-3.3.1.min.js" ></script>
    <script src="socket.io/socket.io.js"></script>

    <script>
        var socket = io('https://mforex.cf/'); 

        socket.on("listmasterOnline",(data)=>{
                $(".danhsachmaster").html('');
                $.each(data,(i,v)=>{
                    $(".danhsachmaster").append("<div class='item'><div class='info'>Tên nhóm: <div class='idmaster'>"+v.groupName+"</div>Tên Người chơi: <div class='tenmaster'>"+v.fullName+"</div></div></div>");
                })
            });

        $(document).ready(()=>{
            socket.emit("getMasterOnline");
        });
    </script>

<style>

    .info {
        float: left;
    }

    .delete:hover {
        background-color: #1a60e0;
    }

    input {
        padding: 8px;
        border-radius: 8px;
        /* border: none; */
        border: 1px solid #b7b7b7;
    }

    .delete {
        float: right;
        position: absolute;
        right: 17px;
        line-height: 29px;
        /* width: 50px; */
        /* height: 30px; */
        background-color: #0943ad;
        color: #fff;
        padding: 4px 25px;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 7px;
    }
    .item {
        border: 1px solid #e0e0e0;
        padding: 8px 17px;
        margin-bottom: 9px;
        height: 78px;
    }
    .idmaster {
        font-size: 23px;
        font-weight: 800;
        color: #017951;
        padding-left: 40px;
    }
    .tenmaster {
        padding-left: 40px;
        color: red;
        font-size: 15px;
        font-weight: 400;
    }
   
</style>
</head>
<body>
    <header>

    </header>
    <div class="danhsachmaster">
        
    </div>
</body>
</html> 