<html>
<head>
    <title>Forex Tool</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <script src="jquery-3.3.1.min.js" ></script>
    <script src="socket.io/socket.io.js"></script>

    <script>
        var socket = io('https://mforex.cf/'); 

        setInterval(()=>{
            socket.emit("getMasterOnline");
        },3000);

        socket.on("listmasterOnline",(data)=>{
                $(".danhsachmaster").html('');
                $.each(data,(i,v)=>{
                    $(".danhsachmaster").append("<div class='item'><div class='info'>Tên nhóm: <div class='idmaster'>"+v.groupName+"</div>Tên Người chơi: <div class='tenmaster'>"+v.fullName+"</div></div></div>");
                })
            });

        $(document).ready(()=>{
            socket.emit("getMasterOnline");
        });
    </script>   
  
<style>

    .info {
        float: left;
    }
   
    .item {
        border: 1px solid #e0e0e0;
        padding: 8px 17px;
        margin-bottom: 9px;
        height: 78px;
    }
    .idmaster {
        font-size: 23px;
        font-weight: 800;
        color: #017951;
        padding-left: 40px;
    }
    .tenmaster {
        padding-left: 40px;
        color: red;
        font-size: 15px;
        font-weight: 400;
    }
   
</style>
</head>
<body>
    <header>

    </header>
    <div class="title">Danh sách master Online</div>
    <div class="danhsachmaster">
        
    </div>
</body>
</html> 